* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu Mono", monospace;
}


body{
    background-color:#c7c7c7 ;
    background-image:url(../img/7.jpg);
    background-size:130%;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100%;
}

.container-center{
    display: flex;
    justify-content: center;
    height: 100%; 
}

.container{
    display: flex;
    padding: 3%;
}

.grid{
    border: solid 5px black;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 410px;
    height: 810px;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;  
}

.tetromino {
    border: 1px solid black;
    border-radius: 1px;
}

.grid div{
    height: 40px;
    width: 40px;
    border-radius: 0.1rem;
  
}



.contain{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-minigrid{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mini-grid{
    border: solid 5px Black;
    border-radius: 1rem;
    width: 170px;
    height: 170px;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
}


.mini-grid div{
    height: 40px;
    width: 40px;
}


.center-buttons{
    height: 100%; 
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}



.btn-principal{
    margin-bottom: 2rem;
    position: relative;
    width: 22rem;
    height: 2.2rem;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    line-height: 23px;
    font-size: 10px;
    display: block;
    cursor:pointer;
    text-shadow: -1px -1px 0 #a84155;
    background: #d25068;
    border: 1px solid #d25068;
    width: 192px;
    background-image: linear-gradient(to bottom, #f66c7b, #d25068);
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
      0 -1px 0 rgba(255, 255, 255, 0.1) inset, 0 4px 0 #ad4257,
      0 4px 2px rgba(0, 0, 0, 0.5);
}


.btn-direction{
    width: 192px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
      
}

.btn{
    margin-right: 5px;
    position: relative;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    line-height: 23px;
    font-size: 10px;
    display: block;
    cursor:pointer;
    text-shadow: -1px -1px 0 #a84155;
    background: #d25068;
    border: 1px solid #d25068;
    width: 59px;
    height: 40px;
    background-image: linear-gradient(to bottom, #f66c7b, #d25068);
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
      0 -1px 0 rgba(255, 255, 255, 0.1) inset, 0 4px 0 #ad4257,
      0 4px 2px rgba(0, 0, 0, 0.5);

}


.false-button{
    background-color: transparent;
    width: 59px;
    height: 40px;
    margin-right: 5px;
}


.btn-mobile{
    margin-top: 20px;
    position: relative;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    line-height: 23px;
    font-size: 10px;
    display: block;
    cursor:pointer;
    text-shadow: -1px -1px 0 #a84155;
    background: #d25068;
    border: 1px solid #d25068;
    width: 410px;
    height: 50px;
    background-image: linear-gradient(to bottom, #f66c7b, #d25068);
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
      0 -1px 0 rgba(255, 255, 255, 0.1) inset, 0 4px 0 #ad4257,
      0 4px 2px rgba(0, 0, 0, 0.5);

}

.btn-mobile-2 {
    margin-top: 20px;
    position: relative;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    line-height: 23px;
    font-size: 10px;
    display: block;
    cursor:pointer;
    text-shadow: -1px -1px 0 #a84155;
    background: #d25068;
    border: 1px solid #d25068;
    width: 205px;
    height: 50px;
    background-image: linear-gradient(to bottom, #f66c7b, #d25068);
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
      0 -1px 0 rgba(255, 255, 255, 0.1) inset, 0 4px 0 #ad4257,
      0 4px 2px rgba(0, 0, 0, 0.5);
}


.btn-direction-mobile{
    display: none;
    flex-wrap: wrap;
    width: 410px;
    margin-top: 100px;
}


@media screen and (max-height: 880px){
    body{zoom: 80%;}
}

@media screen and (max-height: 750px){
    body{zoom: 60%;}
}


@media screen and (max-width: 1560px){
    body{ zoom: 70%;}
    .myAudio{display: none;}
}

@media screen and (max-width: 1125px){
    body{background-size: 1800px;}
    .grid2{zoom: 80%; }
    .container-center{justify-content: left;}
}

@media screen and (max-width: 950px){
    .grid2{zoom: 65%; margin: 0;}
    body{background-size: 150%;}
}



@media screen and (max-width: 750px){
    body{zoom:40%;}
    .grid2{display: none;}
    .btn-direction-mobile{display: flex;}
    .div-minigrid{display: none;}
    .btn-direction{display: none;}
}


